$space-unit: 0.5rem;



//normal element space

$normal-before-headlines-space:3rem;
$normal-after-headlines-space:2.25rem;
$normal-between-space:2.25rem;

//mobile element space

$mobile-before-headlines-space:1.5rem;
$mobile-after-headlines-space:1rem;
$mobile-between-space:1rem;

//normal block space
$normal-block-sidespace:0 auto;

//tablet block space
$tablet-block-sidespace:0 2.25rem;

//mobile block space
$mobile-block-sidespace:0 1rem;



