$margin: 0.5rem;
$padding: 0.5rem;


//desktop, tablet padding

$desktop-before-headlines-padding:3rem;
$desktop-after-headlines-padding:2.25rem;
$desktop-between-padding:2.25rem;

//mobile padding

$mobile-before-headlines-padding:1.5rem;
$mobile-after-headlines-padding:1rem;
$mobile-between-padding:1rem;

//desktop component margin
$desktop-component-margin:auto;

//tablet component margin
$tablet-component-margin:2.25rem;

//mobile component margin
$mobile-component-margin:1rem;



