@use './colors' as *;
@use './variables' as *;
@use './typographys' as *;
@use './spacings' as *;

//spacing mixins
@mixin flex-column {
    display: flex;
    flex-direction: column;
    @content;
}

@mixin flex-row {
    display: flex;
    @content;
}

@mixin mobile-headline-space{
    margin: $mobile-before-headlines-space 0 $mobile-after-headlines-space;
}

@mixin normal-headline-space{
    margin: $normal-before-headlines-space 0 $normal-after-headlines-space;
}

@mixin wrapper-sidespace {
    margin:$mobile-block-sidespace;

    @include tablet {
        margin:$tablet-block-sidespace;
    }

    @include desktop {
        max-width: $max-size;
        margin: auto;
    }
}

@mixin tablet {
    @media (min-width:$tablet-size) {
        @content;
    }
}

@mixin desktop {
    @media (min-width:$desktop-size) {
        @content;
    }
}

//elements mixins

@mixin hero-content {
    @include wrapper-sidespace;
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    z-index: 1;

    
}

@mixin reset-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

@mixin logo-size {
    max-height: $logo-height;
    max-width: $logo-width;
}

@mixin divider {
    border-bottom: 0.0625rem solid $secondary-neutral-color;
}

@mixin button {
    font-size: $mobile-label-button-font;
    font-weight: $weight-bold;
    line-height: $mobile-label-button-line-height;
    height: 2.5rem;
    width: 100%;
    border-radius: 0.25rem;
    border-style: none;
    background-color: $primary-color;
    color: $primary-white;

    &:hover {
        background-color: $secondary-color;
        cursor: pointer;
    }
    @include tablet {
        font-size: $normal-label-button-font;
        line-height: $normal-label-button-line-height;
        width: 20%;
        min-width: 9.375rem;
        padding:0 2rem;
    }
} 

@mixin label {
    font-size: $mobile-label-button-font;
    line-height: $mobile-label-button-line-height;
    font-weight: $weight-bold;
    color: $primary-neutral-color;

    @include tablet {
        font-size: $normal-label-button-font;
        line-height: $normal-label-button-line-height;
    }
}