@use './partials/colors' as *;
@use './partials/variables' as *;
@use './partials/typographys' as *;
@use './partials/spacings' as *;
@use './partials/mixins' as *;

.hero {
    
    &__container {
        @include hero-content;

        @include desktop {
            width: auto;
            left: 0%;
            right: 0%;
        }
    }

    &__text {
        display: block;
        color: $primary-white;
    }
}

.about {
    background-color: $primary-white;
    @include wrapper-sidespace;

    &__title, &__subtitle {
        @include headline-row-space
    }

    &__body {

        @include tablet {
            padding:0 $normal-between-row-space*1.5;
        }

        @include desktop {
            padding:0 $normal-between-row-space*2.5;
        }
    }

    &__image {
        width: 100%;
        display:block;

    }

    &__quote {
        padding:$mobile-between-row-space 0 0;

        @include tablet {
            padding:$normal-between-row-space 0 0;
        }
    }

    &__musician {
        margin-top: $mobile-between-row-space/2;
        font-size: $mobile-sub-header-font/1.5;

        @include tablet {
            margin-top:$normal-between-row-space/2;
            font-size: $normal-sub-header-font/1.5;
        }
    }

    &__textwrap {
        @include tablet {
            @include flex-row;
        }
    }

    &__text {
        padding-bottom: $mobile-between-row-space;

        @include tablet {
            padding: 0 $normal-between-column-space $normal-between-row-space 0;
        }
    }
}
.gallery {
    background-color: $secondary-white;

    @include tablet {
        padding-bottom: $normal-between-row-space;
    }

    @include desktop {
        padding-bottom: $normal-between-row-space;
    }

    &__wrapper{
        @include wrapper-sidespace 
    }
    

    &__title {
        @include headline-row-space;
        display:inline-block;

    }

    &__imagewrap {
        @include tablet {
            @include flex-column {
                gap:$normal-between-column-space;
            }
        }
    }

    &__image-row {
        @include reset-list;
    
        @include tablet {
            @include flex-row {
                gap:$normal-between-column-space;
            }
        }
    }

    &__item {
        padding-bottom: $mobile-between-row-space;
        @include tablet {
            padding-bottom:0;
        }
    }

    &__image {
        width: 100%;
        display: block;
    }
}

.comment {
    background-color: $primary-white;

    &__wrapper {
        @include wrapper-sidespace;
    }

    &__title {
        @include headline-row-space;

    }
    
    &__body {

        @include tablet {
            padding:0 $normal-between-row-space*2;
        }

        @include desktop {
            padding:0 $normal-between-row-space*8;
        }
    }



}
.form {
    @include flex-row;
    @include divider;

    &__wrapper {
        flex-grow: 2;
    }


    &__avatar {
        @include avatar;   
        // background: url("../assets/images/Mohan-muruge.jpg") center/cover ;
        position: relative;
        overflow: hidden;
    }

    &__profile {
        position: absolute;
        height: 100%;
    }    

    &__label {
        @include label;
    }

    &__nameinput, &__commentinput {
        @include formfield;
        box-sizing: border-box;
    }

    &__nameinput {
        margin-bottom:$mobile-between-row-space;
    }

    &__commentinput {
        height:$space-unit*10;
        
    }

    &__submit {
        @include button;
        display: block;
        margin:$mobile-between-row-space 0;

        @include tablet {
            margin-left: auto;
        }
    }
}
