@use './partials/colors' as *;
@use './partials/variables' as *;
@use './partials/typographys' as *;
@use './partials/spacings' as *;
@use './partials/mixins' as *;

.hero {

    &__container {
        margin: $mobile-block-sidespace;
        position: absolute;
        z-index: 1;
        top:50%;
        transform: translateY(-50%);
        
        @include tablet{
            width: 60%;
            margin: $tablet-block-sidespace;
        }

        @include desktop {
            @include flex-row{
                justify-content: space-between;
            }
            width: auto;
            left: 0%;
            right: 0%;
            margin: $normal-block-sidespace;
        }
    }

    &__title {
        color: $primary-white; 
    }

    &__text {
        @include mobile-headline-space;
        color: $primary-white;
        
    }
    
    &__player {

        @include desktop {
            width: 30%;
        }
    }

    
}

.main {
    margin: $mobile-block-sidespace;

    @include tablet {
        margin: $tablet-block-sidespace
    }

    @include desktop {
        margin: $normal-block-sidespace;
    }

    &__title {
        @include mobile-headline-space;

        @include tablet {
            @include normal-headline-space;
        }
    }

    &__tablet-subtitle-box{
        display: none;

        @include tablet {
            
            @include flex-row{
                justify-content: space-between;
            }
        }
    }

    &__tablet-subtitle {
        @include label;
        width: 20%;
    }


}

.card {
    @include divider;
    margin-bottom: $mobile-between-row-space;

    @include tablet {
        @include flex-row{
            justify-content: space-between;
        }
        
    }

    &__subtitle {
        @include label;
        margin-top: $mobile-before-headlines-space;

        @include tablet {
            display: none;
        }

    } 

    &__date {
        font-weight: $weight-demi;
    }

    &__date, &__text {
        width: 20%;
    }
}