@use './partials/colors' as *;
@use './partials/variables' as *;
@use './partials/typographys' as *;
@use './partials/spacings' as *;
@use './partials/mixins' as *;

* {
    font-family: $primary-font;
    margin:0;
    color:$primary-color;
}
h1 {
    font-size: $mobile-header-font;
    font-weight: $weight-bold;
    line-height: $mobile-header-line-height;
    margin:0;

    @include tablet {
        font-size: $normal-header-font;
        line-height: $normal-header-line-height;
    }
}

h2 {
    font-size: $mobile-section-header-font;
    font-weight: $weight-bold;
    line-height: $mobile-section-header-line-height;
    margin:0;

    @include tablet {
        font-size: $normal-section-header-font;
        line-height: $normal-section-header-line-height;
    }
}

h3{
    font-size: $mobile-sub-header-font;
    font-weight: $weight-demi;
    line-height: $mobile-sub-header-line-height;
    margin-block:0;

    @include tablet {
        font-size: $normal-sub-header-font;
        line-height: $normal-sub-header-line-height;
    }
}

p {
    font-size: $mobile-body-font;
    font-weight: $weight-regular;
    line-height: $mobile-body-line-height;

    @include tablet {
        font-size: $normal-body-font;
        line-height: $normal-body-line-height;
    }
}

footer p {
    @include tablet {
        line-height: $normal-foot-line-height;
    }
}
.nav {
    background-color:$primary-color;
    text-align: center;

    &__logo {
        background-color:$primary-color;
        height: 1.25rem;
        width: 7.5rem;
        margin: $mobile-between-space;
    }

    &__list {
        @include reset-list;
        @include flex-row;
    }

    &__item {
        color: $primary-neutral-color;
        padding-bottom:$mobile-between-space;
        font-size: $mobile-sub-header-font;
        font-weight: $weight-regular;
        line-height: $mobile-sub-header-line-height;
        width: 50%;

        &--active, &:hover {
            color: $primary-white;
            border-bottom: $space-unit/2 solid $primary-white;
        }

        &--active {
            font-weight: $weight-bold;
        }
    }
}

.hero {
    position: relative;
    

    &__image {
        width: 100%;
        display:block;
    }
    
    &__text {
        color: $primary-white;
        position: absolute;
        margin: $mobile-block-space;
        top:45%;
    }
}

.about {
    margin: $mobile-block-space;

    &__title, &__subtitle {
        @include mobile-headline-space
    }

    &__image {
        width: 100%;
        display:block;
    }

    &__quote {
        padding:$mobile-between-space 0 0;
    }

    &__text {
        padding-bottom: $mobile-between-space;
    }

}
.gallery {
    background-color: $secondary-white;
    margin: $mobile-block-space;

    &__title {
        @include mobile-headline-space;
        display:inline-block;
    }
    &__image {
        width: 100%;
        display: block;
        padding-bottom: $mobile-between-space;
    }
}

.footer {
    background-color: $primary-color;
    padding: $mobile-block-space;

    & * {
        color: $primary-white;
    }
    
    &__title {
        @include mobile-headline-space;
        display:inline-block;
    }

    &__fineprint {
        padding-top: $normal-before-headlines-space;
    }

    &__copyright {
        padding: $mobile-between-space 0;
    }
}
.contact-card {

    &__wrapper {
        padding-top: $mobile-between-space;
    }

}