//primary color

$primary-color: #323232;
$primary-neutral-color:#AFAFAF;
$primary-white:#FFFFFF;

//secondary color

$secondary-color: #000000;
$secondary-neutral-color:#E1E1E1;
$secondary-white:#FAFAFA;

$error-color:#d22d2d
